<div class="container pt-5 pb-5">
    <div class="row text-center">

    </div>
    <div class="row">
        <div class="container pt-5 pb-5">

            <ul class="nav nav-pills nav-fill flex-column flex-sm-row" id="tabs-text" role="tablist">
                <li class="nav-item">
                    <a class="nav-link mb-sm-3 mb-md-0" id="tabs-text-2-tab" href="/admin/quanlisanpham/trahang/addmathang" role="tab"
                        aria-controls="tabs-text-2" aria-selected="false">Quay lại</a>
                </li>
                <li class="nav-item">
                </li>
                <li class="nav-item">
                </li>
                <li class="nav-item">
                </li>
                <li class="nav-item">
                </li>
                <li class="nav-item">
                </li>
                <li class="nav-item">
                </li>
                <li class="nav-item">
                </li>
                <li class="nav-item">
                </li>
            </ul>

            <div class="row text-center" style="margin-top: 30px;">
                <h2>
                    Xem chi tiết đơn trả hàng
                </h2>
            </div>
            <div class="row">
                {{#if this.empty}}
                <div class="card-body">
                    <p class="card-text">
                        Không có dữ liệu.
                    </p>
                </div>
                {{else}}
                <table class="table table-striped table-hover table-bordered">
                    <thead>
                        <tr>
                            <th scope="col" class="text-center">Tên mặt hàng</th>
                            <th scope="col" class="text-center">Số lượng trả</th>
                            <th scope="col" class="">Tổng tiền</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each donmathang}}
                        <tr class="product" data-id="{{ProID}}">
                            <th scope="row" class="text-center">{{TenMaThang}}</th>
                            <td class="text-center">{{SoLuongTra}}</td>
                            <td class="text-center">{{TongTien}}</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
                {{/if}}
            </div>
        </div>
    </div>
</div>
<script>

</script>