<div class="container pt-5 pb-5">
    <div class="row text-center">

    </div>
    <div class="row">
       <div class="container pt-5 pb-5">
    <div class="row text-center">
        <h2>
            Quản lí hợp đồng
        </h2>
    </div>
    <div class="row">
        {{#if this.empty}}
            <div class="card-body">
                <p class="card-text">
                    Không có dữ liệu.
                </p>
            </div>
        {{else}}
            <table class="table table-striped table-hover table-bordered">
                <thead>
                    <tr>
                        <th scope="col" class="text-center">Tên đối tác</th>
                        <th scope="col" class="text-center">Loại Hàng</th>
                        <th scope="col" class="">Vị trí đăng</th>
                        <th scope="col" class="text-center">Ngày lập</th>
                        <th scope="col" class="text-center">Ngày hết hạn</th>
                        <th scope="col" class="text-center">Tình trạng</th>
                        <th scope="col" class="text-center">Sửa và Gia Hạn</th>
                        <th scope="col" class="text-center">Xoá</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each hopdong}}
                        <tr class="product" data-id="{{ProID}}">
                            <th scope="row" class="text-center">{{TenDoiTac}}</th>
                            <td class="text-center">{{TenLoai}}</td>
                            <td>{{ThongTinViTriDang}}</td>
                          
                            <td class="text-center">{{NgayKiHopDong}}</td>
                            <td class="text-center">{{NgayKetThucHopDong}}</td>
                            <td class="text-center">{{tinhtrang}}</td>
                            <td class="text-center"><a href="/admin/advertising/web/edit/{{MaHopDong}}">Chỉnh sửa {{giahan}}</a></td>
                            <td class="text-center">
                                 <a href="/admin/advertising/web/delete/{{MaHopDong}}"> <i class="fas fa-trash-alt" aria-hidden="true"></i></a>
                            </td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        {{/if}}
    </div>
</div>
    </div>
</div>
<script>
  
</script>