<script>
    const RemoveProduct = (orderID) => {
        $.ajax({
            method: "Delete",
            url: "/admin/order/" + orderID,
        })
            .done(function (res) {
                location.reload();
            });
    }

    const UpgradeProduct = (orderID) => {
        $(`#btn-upgrade-${orderID}`).attr('hidden', 'hidden');
        $(`#btn-save-${orderID}`).removeAttr('hidden');
        $(`input#input-${orderID}`).removeAttr('disabled');
    }

    const SaveOrder = (orderID) => {
        $(`#btn-upgrade-${orderID}`).removeAttr('hidden');
        $(`#btn-save-${orderID}`).attr('hidden', 'hidden');
        $(`input#input-${orderID}`).attr('disabled', 'disabled');
        const payment = $(`input#input-${orderID}`).val();
        $.ajax({
            method: "put",
            url: "/admin/order/" + orderID,
            data: { payment }
        })
            .done(function (res) {
                location.reload();
            });
    }
</script>


<div class="container-fluid mt--6">
    <div class="row">
        <div class="col">
            <div class="card">
                <!-- Card header -->
                <div class="card-header border-0">
                    <h3 class="mb-0">Danh sách đơn hàng</h3>
                </div>
                <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col" class="sort">Mã hóa đơn</th>
                                <th scope="col" class="sort">Mã khách hàng</th>
                                <th scope="col" class="sort">Mã nhân viên bán hàng</th>
                                <th scope="col" class="sort">Mã nhân viên giao hàng</th>
                                <th scope="col" class="sort">Tổng tiền</th>
                                <th scope="col" class="sort">Ngày lập hóa đơn</th>
                                <th scope="col" class="sort">Hình thức thanh toán</th>
                                <th scope="col" class="sort">Xác nhận</th>
                                <th></th>

                            </tr>
                        </thead>
                        <tbody class="list">
                            {{#each list}}
                            <tr id="{{this.MaHoaDon}}">
                                <th scope="row">
                                    <div class="media align-items-center">
                                        <div class="media-body">
                                            <span class="name mb-0 text-sm">{{this.MaHoaDon}}</span>
                                        </div>
                                    </div>
                                </th>
                                <td>
                                    <a href=""> {{this.MaKhachHang}}</a>
                                </td>
                                <td>
                                    <a href=""> {{this.MaNhanVienBanHang}}</a>
                                </td>
                                <td>
                                    <a href=""> {{this.MaNhanVienGiaoHang}}</a>
                                </td>
                                <td>
                                    {{#if this.TongTien}}
                                    {{this.TongTien}}
                                    {{else}} Đơn rỗng
                                    {{/if}}
                                </td>
                                <td>
                                    {{this.NgayLapHoaDon}}
                                </td>
                                <td>
                                    <input type="text" class='form-control' disabled id='input-{{this.MaHoaDon}}'
                                        value="{{this.HinhThucThanhToan}}">
                                </td>
                                <td>
                                    {{this.ThongTinXacNhanDonHang}}
                                </td>
                                <td>
                                    <button type="button" class="btn btn-danger btn-rounded btn-sm my-0"
                                        onclick="RemoveProduct(`{{this.MaHoaDon}}`)">Delete</button>
                                    <button type="button" class="btn btn-success btn-rounded btn-sm my-0"
                                        id="btn-upgrade-{{this.MaHoaDon}}"
                                        onclick="UpgradeProduct(`{{this.MaHoaDon}}`)">Upgrade</button>
                                    <button type="button" class="btn btn-success btn-rounded btn-sm my-0"
                                        id="btn-save-{{this.MaHoaDon}}" onclick="SaveOrder(`{{this.MaHoaDon}}`)"
                                        hidden>Save</button>
                                    <a href="/admin/order/details/{{this.MaHoaDon}}"
                                        class="btn btn-info btn-rounded btn-sm my-0">Detail</a>
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
                <!-- Card footer -->
                <div class="card-footer py-4">
                    <nav aria-label="...">
                        Có tổng cộng {{totalpages}} trang, đến trang số
                        <input id="gotopage" type="text" style="width:2rem"><span id="a"> <a href=""
                                class="btn btn-danger btn-rounded btn-sm my-0">Đi đến</a></span>
                        <ul class="pagination justify-content-end mb-0">
                            {{#if prev}}
                            <li class="page-item">
                                <a class="page-link" href="{{prev}}">
                                    <i class="fas fa-angle-left"></i>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="{{prev}}">{{prev}}</a>
                            </li>
                            {{/if}}
                            <li class="page-item active">
                                <a class="page-link" href="">{{now}} <span class="sr-only">(current)</span></a>
                            </li>
                            {{#if next}}
                            <li class="page-item">
                                <a class="page-link" href="{{next}}">{{next}}</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="{{next}}">
                                    <i class="fas fa-angle-right"></i>
                                    <span class="sr-only">Next</span>
                                </a>
                            </li>
                            {{/if}}
                        </ul>
                        <p class="pagination justify-content-end mb-0"></p>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>